.about-me__photo-cell {
  max-width: 350px;
  max-height: 350px;
  border-radius: 30px;
  box-shadow: 0 0 15px #8643dc;
  margin: auto 0 auto auto;
}

@media screen and (max-width: 1000px) {
  .about-me__photo-cell{
    margin: 0 auto 40px;
  }
}
