.appearance{
  animation: .3s forwards appearance;
  opacity: 1;
}

@keyframes appearance {
  from {
    transform: translate(0px, 60px);
    opacity: 0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  @keyframes appearance {
    from {
      transform: translate(0px, 40px);
      opacity: 0;
    }
  
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}