.appearance{
  animation: .15s forwards appearance;
  opacity: 1;
}

@keyframes appearance {
  from {
    margin-top: 80px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  @keyframes appearance {
    from {
      margin-top: 40px;
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}