.disappearance{
  animation: .15s forwards disappearance;
}

@keyframes disappearance {
  from {
    opacity: 1;
  }

  to {
    margin-top: 80px;
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  @keyframes disappearance {
    from {
      opacity: 1;
    }
  
    to {
      margin-top: 40px;
      opacity: 0;
    }
  }
}