.footer__title {
  color: rgb(33, 35, 45);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer__title{
    font-size: 24px;
    line-height: 24px;
  }
}