.header__menu-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .header__menu-list{
    flex-direction: column;
    margin: 80px auto 0;
    padding: 0;
  }
}