.videoPortfolio__link {
  display: inline;
  text-align: right;
  color: rgb(37, 32, 47);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-decoration-line: underline;
  margin: 100px 0 auto auto;
  height: 36px;
  transition: opacity 0.2s linear;
}

.videoPortfolio__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1120px) {
  .videoPortfolio__link {
    margin-top: 105px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 600px) {
  .videoPortfolio__link{
    font-size: 16px;
    margin: 10px auto 0 0;
    text-align: left;
    line-height: 18px;
  }
}